DB_HOST=postgres-payment
DB_PORT=
DB_USER=postgres
DB_PASSWORD=
DB_NAME=

INTERNAL_SECRET=

ORDER_CALLBACK_URL="http://order-service:3000/internal/payment-callback"
ORDER_SERVICE_URL="http://order-service:3000"